@import "../../index.scss";

.navbar {
  margin: auto;
  padding: 0 1rem;
  background: $mainBlack;
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav-links {
  align-self: center;
  text-align: center;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  color: $mainGrey;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  &:hover {
    color: $mainGreen;
  }
}

.active {
    color: $mainGreen;
}
